<div>
    <h3>Rejestracja</h3>
    <form ng-submit="RegisterFormSubmit()" class="form">
        <div class="col-md-4">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="username" placeholder="username" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" ng-model="password" placeholder="password" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" ng-model="confirmPassword" placeholder="confirmPassword" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="email" placeholder="email" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Rejestracja</button>
                <span class="text-danger">{{ error }}</span>
            </div>
        </div>
    </form>
</div>

</div>
